.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* .bg-blue {
  background-color: blue;
  color: white;
}
.bg-red {
  background-color: rgba(255, 0, 0, .8);
  color: white;
}
.bg-green {
  background-color: green;
  color: white;
}
.bg-yellow {
  background-color: yellow;
  color: white;
} */